[Desktop Entry]
Encoding=UTF-8
Comment=Open-source Android/Desktop remake of Civ V
Exec=Unciv
GenericName=4X Game
Icon=unciv
Name=Unciv
NoDisplay=false
StartupNotify=true
Terminal=0
Type=Application
Categories=Game
