[Desktop Entry]
Exec=Unciv
Icon=unciv
Name=Unciv
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;StrategyGame;
Comment=Turn-based historical strategy game, open source remake of Civ V
Comment[ca]=Joc d'estratègia històric per torns, versió nova de codi obert del Civ V
Comment[fr]=Jeu de stratégie au tour par tour historique, recréation libre de Civ V
Keywords=Game;Civilization;Strategy;Turn-Based
Keywords[ca]=Joc;Civilització;Estratègia;Per-torns
Keywords[fr]=Jeu;Civilization;Civilisation;Stratégie;Tour-par-tour
