# Jobs to test the code base and build the client and server app
name: Build and test

on:
  # Triggers the workflow on any push or pull request
  push:
  pull_request:

jobs:

  # We only need the minimum

  code-checks:
    name: Check code and run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          cache: 'gradle'
          distribution: 'temurin'
          java-version: 21

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Compile kotlin and build classes
        run: ./gradlew classes

      - name: Run code checks
        run: ./gradlew check

      - name: Run unit tests
        run: ./gradlew --no-build-cache cleanTest test tests:test
