name: Detekt

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  detekt:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'adopt'

    - name: Setup Detekt
      id: setup_detekt
      uses: peter-murray/setup-detekt@v3

    - name: Detekt errors
      run: detekt-cli --parallel --config .github/workflows/detekt_config/detekt-errors.yml

    - name: Detekt warnings
      run: detekt-cli --parallel --config .github/workflows/detekt_config/detekt-warnings.yml
