<?xml version="1.0" encoding="UTF-8"?>
<!-- See the file's history at https://github.com/yairm210/unciv-wix-tests -->
<?define Name = "Unciv" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Language="1033"
             Manufacturer="Yair Morgenstern"
             Name="$(var.Name)"
             Version="$(env.UNCIV_VERSION)"
             UpgradeCode="74d42802-054a-4869-a703-658c361fe94c">
             <!-- MSI versions require a 4-part version, but wix accepts 3 -->
        <Icon Id="icon.ico" SourceFile="extraImages/Icons/Unciv.ico"/>
        <Upgrade Id="74d42802-054a-4869-a703-658c361fe94c">
          <!-- any installed version, including the mangled ones where the "-patch" string led to the high bit set: remove it -->
          <UpgradeVersion Property="UNCIV_ANY"
                          Minimum="0.0.0" IncludeMinimum="yes" />
          <!-- genuinely newer (major <= 127): detect only -->
          <UpgradeVersion Property="UNCIV_NEWER" OnlyDetect="yes"
                          Minimum="$(env.UNCIV_VERSION)" IncludeMinimum="no"
                          Maximum="127.255.65535" IncludeMaximum="yes" />
        </Upgrade>
        <!-- We're not setting an Id on Package, so each new version has a new ProductCode, so "Installed" is _not_ set for a normal upgrade, but allows maintenance mode -->
        <Launch Condition="Installed OR NOT UNCIV_NEWER OR ALLOWDOWNGRADE=1"
                Message="A newer version of [ProductName] is already installed. Uninstall it first, or run the installer with ALLOWDOWNGRADE=1." />

        <InstallExecuteSequence>
          <FindRelatedProducts Before="LaunchConditions" />
          <RemoveExistingProducts After="InstallInitialize" Condition="NOT Installed" />
        </InstallExecuteSequence>

        <!-- Pack all the files into the MSI instead of spreading this over .cab files -->
        <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

        <DirectoryRef Id="INSTALLFOLDER">
          <Component Id="Unciv" Guid="59f8e1f6-0aaa-4cb5-9d22-53aeb82b9dc8">
            <File Id="UncivExe"
                  KeyPath="yes"
                  Checksum="yes"
                  Source=".github/workflows/wix-msi-files/Unciv.exe">
                  <!-- Annoyingly the relative locations are not the same.0
                   THIS source is relative to the current working dir.... -->
            </File>
          </Component>
        </DirectoryRef>

        <ComponentGroup Id="UncivFiles" Directory="INSTALLFOLDER">
            <!-- But THIS source is relative to the exs file location!!! -->
            <Files Include="wix-msi-files\**" />
        </ComponentGroup>

        <Component Id="UncivShortcuts" Directory="INSTALLFOLDER" Guid="8e806e5d-f502-4067-9a6e-ef78b718472a">
          <Shortcut Id="StartMenuShortcut"
                    Name="$(var.Name)"
                    Target="[#UncivExe]"
                    Arguments="--data-dir=[AppDataFolder][ProductName]"
                    Icon="icon.ico"
                    Directory="ApplicationProgramsFolder"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="CleanupStartMenuShortcut"
                        Directory="ApplicationProgramsFolder"
                        On="uninstall" />
          <!-- Will only remove empty folders, meaning it's only cleaned when Unciv was never started -->>
          <RemoveFolder Id="CleanupAppData"
                        Directory="APPDATAFOLDER"
                        On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\YairMorgenstern\Unciv" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>

        <Feature Id="ProductFeature" Title="$(var.Name)" Level="1" ConfigurableDirectory="INSTALLFOLDER">
            <ComponentGroupRef Id="UncivFiles" />
            <ComponentRef Id="Unciv" />
            <ComponentRef Id="UncivShortcuts" />
        </Feature>


        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
        </StandardDirectory>

        <StandardDirectory Id="AppDataFolder">
            <Directory Id="APPDATAFOLDER" Name="$(var.Name)" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
        </StandardDirectory>

    </Package>
</Wix>
